/*Media Query for  Mobile */
@media only screen and (max-width: 767px) {
  .home-slider .slide {
    padding: 30px 30px;
  }
  .body-logo .col-12 {
    margin-bottom: 32px;
    align-self: center;
  }
  .home-slider .arrow-left {
    left: 30%;
  }
  .home-slider .arrow-right {
    right: 30%;
  }
  .card-picture {
    width: 100%;
    height: 237px;
  }
  .row-padding {
    padding-top: 30px;
  }
  .counter-section .card {
    padding: 0 30px;
  }
  .hsize {
    font-size: 45px;
  }
  .crew-slick .arrow-left {
    left: 30%;
  }
  .crew-slick .arrow-right {
    right: 30%;
  }
  .footer .col-12{
    padding: 0 30px;
  }
  .footer .copyright{
    display: grid;
  }
}

/* Media Query for Tablets  */
@media (min-width: 768px) and (max-width: 991px) {
  .card-picture {
    width: 100%;
    height: 300px;
  }
  .home-slider .arrow-left {
    left: 40%;
  }
  .home-slider .arrow-right {
    right: 40%;
  }
  .card .card-body .counter {
    font-size: 70px;
  }
  .card .card-body .counter::after {
    font-size: 70px;
  }
   .crew-slick .arrow-left {
    left: 40%;
  }
  .crew-slick .arrow-right {
    right: 40%;
  }
}
