/*Media Query for  Mobile */
@media only screen and (max-width: 767px) {
    .home-slider .slide{
        padding:30px 30px;
    }
    .body-logo .col-sm-3{
        margin-bottom: 10px;
    }
    .arrow-left{
        left: 30%;
    }
    .arrow-right{
        right: 30%;
    }
}


  /* Media Query for Tablets  */
@media (min-width: 768px) and (max-width: 991px){
    .card-picture{
        width: 100%;
        height: 300px;
    }
    .arrow-left{
        left: 40%;
    }
    .arrow-right{
        right: 40%;
    }
}