.background{
    background: url(../images/nature.jpg) no-repeat;
    background-size: cover;
}
.img-height{
    width: 100%;
    height: 574px;
}
.formValidation .has-error .help-block {
    color: #d06868;
    font-size: 12px;
    line-height: 1.1;
    font-style: italic;
}
.card .card-pad{  
    padding: 185px 0;
}